@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

.store__addproduct {
    position: sticky;
}

.modal-open:link,
.modal-open:visited {
    color: black;
}

.modal-open:hover {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
}

.modal {
    height: 100vh;
    width: 100vw;

    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
}

.modal-area {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.15);

    position: fixed;
}

.modal:target {
    visibility: visible;
}

.modal-content {
    padding: 1rem;
    height: fit-content;
    width: 20%;

    position: relative;
    top: 20vh;
    left: 35vw;
    border: 1px solid var.$color04;
    border-radius: 8px;
    background-color: var.$colorGrey;

    .modal-exit {
        font-weight: bolder;
        text-decoration: none;
        color: var.$color04;

        position: absolute;
        top: 1vh;
        right: 1vw;
        z-index: 3;
    }

    form {
        display: flex;
        flex-direction: column;
        text-transform: uppercase;
        font-size: 0.8rem;
        font-weight: bold;

        label {
            padding-left: 0.5rem;
        }

        .form-flex {
            display: flex;
            justify-content: space-between;
            width: 100%;

            div:first-of-type {
                padding-right: 1rem;
            }

            div:last-of-type {
                padding-left: 1rem;
            }
        }

        input:focus,
        textarea:focus {
            outline: none;
            outline: 1px solid var.$color01;
            ;
        }

        input[type="text"],
        input[type="number"],
        textarea {
            margin-bottom: 1rem;
            margin-top: 0.5rem;
            width: 100%;
            height: 2.5rem;
            border: 1px solid var.$color01;
            border-radius: 3px;
            padding: 0 0.4rem;
            font-size: 1.2rem;
        }

        input[type="number"]::-webkit-inner-spin-button,
        input[type="number"]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        input[type="submit"] {
            cursor: pointer;
            height: 2.5rem;
            border-radius: 3px;
            border: none;
            border: 1px solid var.$color02;
            background-color: var.$color03;
            color: var.$colorGrey;
            font-weight: bold;
            letter-spacing: 2px;
            font-size: 1rem;
        }

        input[type="submit"]:hover {
            border: 1px solid var.$color04;
            background-color: var.$color01;
        }

        input[type="file"] {
            color: transparent;
            font-size: 10;

            margin-bottom: 1rem;
            margin-top: 0.5rem;
            height: 2.5rem;
            border-radius: 3px;
            font-size: 1.2rem;
        }

        #product_description {
            padding: 0.4rem;
            height: 4rem;
            resize: vertical;
        }
    }
}