$color01: #0c1d9a;
$color01Active: #6560ee;
$color02: #3f82ba;
$color03: #1E90FF;
$color04: #c970b9;
$colorWhite: #d4e5ce;
$colorGrey: #eacfdb;
$colorDarkGrey: #040c4b;
$colorLink: #040c4b;
$colorLinked: rgba(8, 5, 49, 0.976);
$colorAdd: #28f261;
$colorRemove: #f83131;

$borderRadius: 10px;